*{
 font-size: 16px;
}
.login img{
  border-radius: 100%;
  max-width: 50px;
}
.login{
  font-size: 20px;
}
.list-img img{
  max-height: 50px;
}
.show-img img{
 max-height: 500px;
 max-width: 400px;
}
.jumbotron{
  margin-top: 10px;
  background-image: url("http://twama.tw/img_tshirt/1437353971.png");
  min-height: 350px;
  background-color: #EED19C;
  background-repeat: no-repeat;
  background-position:right;

}
.title{
  font-family: 'cwTeXYen', sans-serif;
}
.sub-title{
  font-family: 'Noto Sans TC', sans-serif;
}